/* Center container */
.center-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of viewport height */
}

.button {
    margin: 50px auto; /* Add margin to center buttons horizontally */
    font-size: 30px; /* Increase font size to make the text bigger */
    color: #ffffff;
    border: none;
    border-radius: 10px; /* Increase border radius for rounded corners */
    cursor: pointer;
    background: linear-gradient(to right, #030100, #970195);
    width: 350px; /* Set fixed width for the button */
    height: 100px; /* Set fixed height for the button */
    -webkit-text-fill-color: #c2c2c2; /* Hide original text color */

    transition: background 0.3s ease; /* Add transition effect to background */
}

.button:hover {
    background: linear-gradient(to right, #970195, #97019790, #970195); /* Lighter purple gradient on hover */
}

body {   
    background: linear-gradient(50Deg, #2f0045e8 0%, #030100 40%, #030100 60%, #2f0045e8 100%);
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-size: 30px; /* Set base font size */
    font-family: Arial, sans-serif; /* Set base font family */
    color: #ffffff; /* Set text color to gold */
    text-align: center;
}

.gradient-text {
    background: linear-gradient(to right, #ffffff 20%, #befffd 30%, #ffffff 50%, #befffd 70%, #ffffff 80% ); /* Gradient renk efekti */
    -webkit-background-clip: text; /* Clip text to background */
    -webkit-text-fill-color: #00000059; /* Hide original text color */
}

.fancy-heading {
    padding: 60px; 
    font-family: 'Palatino Linotype'; 
    font-weight: bold; 
    font-size: 80px; 
     background-image: linear-gradient(to right, purple 5%, pink, #90EE90, cyan 95%);

    -webkit-background-clip: text; /* Metni arka plana göre kes */
    -webkit-text-fill-color: transparent; /* Metni saydam yap */
}

.grid-container-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 columns */
    gap: 15px; /* Add space between grid items */
    justify-content: center; /* Center grid items horizontally */
    align-items: center; /* Center grid items vertically */
    position: absolute; /* Set position to absolute */
    top: 150px; /* Position from the top */
    left: 20px; /* Position from the left */
    width: 40%; /* Set width */
    padding: 5px; /* Remove padding */
    box-sizing: border-box; /* Include padding in the width */
    z-index: 1; /* Ensure the grid appears above other content */
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    aspect-ratio: 1; /* Ensure grid items are square */
}

.grid-item img {
    max-width: 100%; /* Ensure the image doesn't exceed the grid item's width */
    max-height: 100%; /* Ensure the image doesn't exceed the grid item's height */
    object-fit: contain; /* Fit the image within the grid item */
}

.grid-item-nft {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border: 3px solid #cccccc42;
    aspect-ratio: 1; /* Ensure grid items are square */
}

.grid-item-nft img {
    max-width: 100%; /* Ensure the image doesn't exceed the grid item's width */
    max-height: 100%; /* Ensure the image doesn't exceed the grid item's height */
    object-fit: contain; /* Fit the image within the grid item */
}

.grid-container-nft {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    justify-content: flex-end; /* Align grid items to the right */
    align-items: center;
    position: absolute;
    top: 260px;
    left: 1070px; /* Position the grid to the right */
    width: 35%;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

.win-grid-item {
    border-width: 5px; /* Adjust thickness as needed */
    border-color: rgb(23, 196, 0) !important; /* Set border color to green */
}

.selected-grid-item {
    border-width: 5px; /* Adjust thickness as needed */
    border-color: #ffee01e1 !important;
}

.lost-grid-item {
    border-width: 5px; /* Adjust thickness as needed */
    border-color: rgb(209, 20, 20) !important;
}

.grid-container-account {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
    justify-content: flex-end; /* Align grid items to the right */
    align-items: stretch;
    position: absolute;
    left: 330px; /* Position the grid to the right */
    width: 20%;
    padding: 0px;
    box-sizing: border-box;
    z-index: 1;
}